.rvmrc
.DS_Store
tmp
db/*.sqlite3
config/database.yml
config/initializers/*_local.rb
doc/legacy
doc/ssl
log
public/system
db/development.sqlite3
.autotest
design
wz_production*.sql
public/stylesheets/screen.css
public/stylesheets/print.css
public/stylesheets/ie.css
public/stylesheets/home.css
public/stylesheets/plans.css
*.swp
2.2
.sass-cache
capybara*.html
TAGS
coverage/*
test/coverage/*
vendor/gems/rdiscount*
